script#template(type= 'text/template')
  div.message
    div.info
      a
        img
    div.body
      div.actorDiscription
        h5.username
          a
      div.text
        p
  div.user
    div.info
      a
        img
    div.body
      div.actorDiscription
        h5.username
          a
      div.text
        p
      
